//NAVBAR


//HEADER
.header {
   position: relative;

   background-image: 
      linear-gradient(
         to right, 
         rgba($color-primary-light, .2),
         rgba($color-primary, .35),
         rgba($color-primary, .8)
      ),
      url(../imgs/bg-header.jpg);

   background-size: cover;
   height: 90vh;
}

.header__text{
   position: absolute;
   right: 1rem;
   top: 50%;
   transform: translateY(-60%);

   background-color:rgba($color-white, .7);
   color: $color-primary;
   text-shadow: 2px 2px .3rem rgba($color-black, .4);
   font-weight: 900;
}
