* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(246, 252, 246);
}

.nav-main {
  background-color: rgb(106, 241, 158) !important  ;
}

// .thumbmail {
//   width: 100%;
// }

// .addNewComment {
//   margin-right: 1.5%;
// }

// .fDelete {
//   display: inline;
// }
