<% include partials/header %>

<header class="header">
   <div class="header__text-box">
      <span class="header__text-sub">Let us see your great</span>
      <span class="header__text-main">Adventures</span>
   </div>
</header>

<main class="main"></main>

<footer class="footer"></footer>

<% include partials/footer %>