<% include partials/header%>


<div class="container-fluid">
	<div class="row">
		<div class=" d-none d-sm-block col-md-8 p-0">
			<div class="login-bg-image">
				<h1 class="header-login">
					<span class="heading heading-first">Take us to places</span>
					<span class="heading heading-second">you have been</span>
				</h1>
			</div>
		</div>
		<div class="login-container col-12 col-md-4 p-0">
			<form class="login-form text-center " action="/login" method="POST">

				<div class=" container-fluid">
					<h1 class="header-main">Login</h1>
					<div class="row align-items-end">
						<div class="col-12">
							<input class="w-100 "type="text" name="username" placeholder="Username"></input>
						</div>
						<div class="col-12">
							<input class="w-100 " type="password" name="password" placeholder="Password">
						</div>
					</div>
				</div>
				<button class="btn btn-success d-inline w-75">Submit</button>
			</form	>
		</div>
	</div>
</div>

<% include partials/footer%>