.login-bg-image {
    background-image: linear-gradient(rgba(58, 128, 0, 0.603), rgba(0, 128, 28, 0.349)), url(../imgs/mount1.jpg);
    height: 91.4vh;
    background-size: cover;
    background-position: 75% 75%;
    position: relative;
}

.register-bg-image {
    background-image: linear-gradient(rgba(98, 180, 31, 0.603), rgba(106, 245, 136, 0.349)), url(../imgs/mount3.jpg);
    height: 91.4vh;
    background-size: cover;
    background-position: 75% 75%;
    position: relative;
}

.header-main {
    font-weight: 700;
    color: rgb(0, 83, 0);
    text-shadow: 0 .02rem .01rem rgba(0, 0, 0, 0.1);
}

.header-login, .header-register{
    font-size: 3.5rem;
    position: absolute;
    top: 30%;
    left: 2rem;
    color: #eee;
    font-size: 4rem;
    text-shadow: rgba(0, 0, 0, 0.26) 2px 5px 10px ;
    line-height: 5rem;
}



.heading{
    display: block;
}

.login-container, .register-container {
    position: relative;
    vertical-align: middle;
}

/* .heading-first {
    font-size: 3.5rem;
} */

.heading-second {
    position: absolute;
    left: 2rem;
}

.login-form, .register-form {
    width: 95%;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    height: 3rem;
    margin: 1rem;
}