.login-bg-image {
    background-image: linear-gradient(rgba(58, 128, 0, 0.603), rgba(0, 128, 28, 0.349)), url(../imgs/mount1.jpg);
    height: 91.4vh;
    background-size: cover;
    background-position: 75% 75%;
    position: relative;
}

.header-login{
    position: absolute;
    top: 30%;
    left: 2rem;
    color: #eee;
    font-size: 4rem;
    text-shadow: rgba(0, 0, 0, 0.26) 1px 2px 5px ;
}

.heading{
    display: block;
}

.login-container {
    position: relative;
    /* background-image: linear-gradient(to right,#22512bd5, rgba(79, 128, 0, 0)); */
    /* border: 1px solid black; */
}

.login-form {
    width: 95%;
    /* position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

input {
    height: 3rem;
    margin: 1rem;
}