* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f2f7f3; }

.header {
  position: relative;
  background-image: linear-gradient(to right, rgba(100, 253, 164, 0.2), rgba(0, 178, 74, 0.35), rgba(0, 178, 74, 0.8)), url(../imgs/bg-header.jpg);
  background-size: cover;
  height: 90vh; }

.header__text {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-60%);
  background-color: rgba(242, 247, 243, 0.7);
  color: #00B24A;
  text-shadow: 2px 2px 0.3rem rgba(20, 22, 20, 0.4);
  font-weight: 900; }
